body {
    background-image: url(image/background-kayu.jpg);
    background-repeat: repeat;
    background-size: cover;
    color: white;
    font-family: 'Montserrat';
}

.header {
    text-align: center;
}

.main {
    max-width: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main > * {
    margin-top: 10px;
}

.main .user span {
    display: block;
    margin: 20px 0;
}

.main div img {
    width: 100px;
    border-radius: 50%;
    border: 3px solid black;
}

.main .versus {
    width: 50px;
    align-self: center;
}

.main .btn {
    height: 50px;
    font-size: 30px;
    background-color: skyblue;
}

.main .kotak-pilih {
    display: flex;
    justify-content: space-evenly;
}

.main .kotak-pilih img:hover {
    transform: scale(1.1);
}

.main .hasil {
    font-size: 40px;
}

.footer {
    background-color: rgba(0, 0, 0, .5);
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.footer a img {
    width: 50px;
}