.container {
    font-family: 'Verdana';
    background-color: rgb(209, 234, 160);
    font-size: 1em;
}

.container .header {
    text-align: center;
    padding: 20px;
}

.container .header h1 {
    font-size: 3rem;
    font-weight: bold;
}

.container .main {
    background-color: rgb(0, 208, 244);
    max-width: 600px ;
    margin: 50px auto;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    justify-content: space-between;
}

.container .main div h2 {
    margin-top: 20px;
    font-size: 1.5em;
    padding: 10px 0;
    color: white;
}

.container .main div h2 span {
    padding: 20px;
    background-color: rgb(188, 26, 26);

}

/* css untuk bagian user */
.container .main .user {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .main .user .kotak-pilih div img, .container .main .komputer img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid black;
}

/* css untuk bsgian komputer */
.container .main .komputer {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .main .komputer img {
    align-self: center;
}

.container .main .versus {
    width: 50px;
    align-self: center;
}

.container .main .btn {
    /* max-width:300px; */
    height: 50px;
    font-size: 30px;
    background-color: skyblue;
    margin: 50px auto;
}

.container .main .kotak-pilih {
    display: flex;
    justify-content: space-evenly;
}

.container .main .hasil {
    height: 50px;
    font-size: 40px;
}

.container .footer {
    background-color: rgba(0, 0, 0, .5);
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.container .footer a img {
    width: 50px;
}


/* css untuk pilihan user */

.container .main .user .kotak-pilih div {
    display: flex;
    flex-direction: column;
}


/* css untuk kolom ucapan  */

.container .ucapan h2 {
    font-size: 2em;
    text-align: center;
}

/* css untuk waktu */

.container .waktu h3 {
    text-align: center;
}