:root {
    --color-backgrouund : #f1dbdb;
    --color-container : whitesmoke;
    --color-primary : rgb(116, 61, 61);
    --font-primary : 'Single Day', cursive;
    --border-radius : 20px;
    --box-shadow : 0px 0px 36px 7px rgba(0,0,0,0.28);
}

body {
    background-color: var(--color-backgrouund);
}
.container {
    max-width: 500px;
    background: var(--color-container);
    border-radius: var(--border-radius);
    margin: 5px auto;
    font-family: var(--font-primary);
    font-size: 1em; 
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    padding: 20px;
    box-sizing: border-box;
    color: var(--color-primary);
    text-align: center;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
}

.user {
    height: 100px;
}
 
.kotak-pilih {
    display: flex;
    justify-content: space-evenly;
}

.kotak-pilih img {
    cursor: pointer;
}

.kotak-pilih > div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.kotak-pilih > div img, .komputer img  {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid rgb(67, 153, 139);
}

.kotak-pilih > div img {
    transition: all 1s;
}

.kotak-pilih > div img:hover {
    transform: scale(1.1);
}

.versus {
    margin: 20px 0;
}

.versus, .btn, .komputer {
    align-self: center;
}

.btn {
    font-family: var(--font-primary);
    border-radius: 20px;
    margin: 20px 0;
    width: 100px;
    padding: 10px;
    background: #17ee4d;
    color: white;
    cursor: pointer;
    border: none;
}

.hasil {
    display: flex;
    height: 80px;
}

.hasil span {
    color: var(--color-backgrouund);
    margin: auto;
}

.footer {
    color: var(--color-primary);
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.container .footer a img {
    width: 50px;
}


/* css untuk topbar */

.topbar {
    max-width: 200px;
    margin: 10px auto;
    height: 50px;
    background-color: var(--color-container);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}



/* responsif mobile */

@media screen and (max-width : 576px) {
    .header h1 {
        font-size: calc(5vw + 10px);
    }
    .container {
        margin: 0 20px;
    }

}